body,
#root {
    height: 100vh;
    margin: 0;
}

body,
input,
select,
button,
textarea {
    font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: .5rem;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    background: blueviolet;
}

main {
    grid-area: main;
    margin: 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.user-card {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
}

.cards {
    margin: 20px;
    padding: 8px;
    border: 1px solid black;
    width: 380px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 4px 8px 0 rgba(0.1, 0, 0, 0.4);
}

.btn-cls {
    margin: 8px;
    text-align: right;
    align-items: center;
}

.btn-card {
    background-color: DodgerBlue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.btn-card:hover {
    background-color: RoyalBlue;
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin: 0%;
    padding-bottom: 10px;
    font-size: 16px;
}

.dlist-align dt {
    width: 120px;
    word-wrap: break-word;
    font-weight: normal;
}

.dlist-align dd {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.header-link {
    margin-left: 15px;
}

.header-btn {
    margin-left: 10px;
    width: 80vw;
    text-align: right;
    align-items: center;
    float: right;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}