<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mounty Assesment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div className="grid-container">
        <header className="App-header">
            <div class="header-link">
                <a href='/'>User Data Creation </a>
            </div>
            <div class="header-btn">
                <a class="btn-card" style="float: right;" href="/newuser"><i class="fa fa-user-plus" style="margin-right: 3px;"></i> New User</a>
                <div class="dropdown">
                    <button class="dropbtn">Sort By <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">CreatedAt</a>
                        <a href="#">Coordinate</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div className="content">
                <div className="main">
                    <div class="user-card">
                        <div class="cards">
                            <h4>Name : Rashid
                            </h4>

                            <dl class="dlist-align">
                                <dt>Mobile :</dt>
                                <dd>
                                    mobile
                                </dd>
                            </dl>

                            <dl class="dlist-align">
                                <dt>Email :</dt>
                                <dd>
                                    asd@g.com
                                </dd>
                            </dl>

                            <dl class="dlist-align">
                                <dt>Street :</dt>
                                <dd>
                                    address
                                </dd>
                            </dl>

                            <dl class="dlist-align">
                                <dt>Locality :</dt>
                                <dd>
                                    local
                                </dd>
                            </dl>

                            <dl class="dlist-align">
                                <dt>City :</dt>
                                <dd>
                                    banglr
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>State :</dt>
                                <dd>
                                    KA
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Pincode :</dt>
                                <dd>
                                    123
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Cordinate Type :</dt>
                                <dd>
                                    deg
                                </dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Cordinates :</dt>
                                <dd>
                                    213
                                </dd>
                            </dl>
                            <div class='btn-cls'>
                                <button class="btn-card"><i class="fa fa-pencil"></i></i></button>
                                <button class="btn-card"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    </div>
</body>

</html>